@font-face {
    font-family: 'Raleway-Regular';
    src: 
        url(./static/Raleway-Regular.woff) format('woff'),
        url(static/Raleway-Regular.woff2) format('woff2'),    
        url(./static/Raleway-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway-Bold';
    src: 
    url(static/Raleway-Bold.woff) format('woff'),
    url(static/Raleway-Bold.woff2) format('woff2'),
    url(./static/Raleway-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url(static/Raleway-Medium.ttf) format('truetype');
    font-weight: 500;
}