.header {
    padding-top: 92px;
    padding-bottom: 96px;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}

.header_menu {
    padding-right: 36px;
    display: flex;
    justify-content: flex-end;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.header_menu-list {
    display: flex;
    gap: 35px;
    list-style: circle;
    text-underline-offset: 4px;
}

.header_menu-item_no-bullit {
    list-style: none;
}

.header_link_active {
    text-decoration: none;
}

.header_logo-image {
    padding-left: 5px;
    padding-right: 5px;
    width: 148px;
    max-height: 105px;
    display: block;
    object-fit: contain;
}

.address {
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    text-underline-offset: 4.1px;
    line-height: 24px;
}

.header_address {
    margin-left: 187px;
    max-width: 236px;
}

.cover {
    width: 1100px;
    padding: 165px 20px 50px 50px;
    min-height: 757px;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}

.cover_title {
    z-index: 2;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 0.3em;
    color: rgb(255, 255, 255);
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    padding-top: 20px;
    text-align: center;
}

.aligned-text_right {
    padding: 20px 1px;
    text-align: right;
}

.description {
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
}

.description_subline {
    z-index: 2;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 22px;
    word-spacing: 19px;
}

.bet-button {
    padding: 11px 31px;
    min-height: 51px;
    z-index: 2;
    background: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 22px;
}

.lots {
    width: 1052px;
    margin: 180px 24px 120px;
}

.lots_title {
    padding: 1px 40px 27px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
}

.lots_card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style-type: none;
}

.lots_card-list-item {
    width: 334px;
    position: relative;
}

.card {
    padding: 48px 40px;
    width: 100%;
    min-height: 596px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lot_film {
    background-image: url(../images/card-lot-01.jpg);
}

.lot_book {
    background-image: url(../images/card-lot-02.jpg);
}

.lot_picture {
    background-image: url(../images/3543ee6f0852101f5ab31479457065d43c824f26.jpg);
}

.card_link {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.card_title {
    z-index: 2;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 1.2;
    text-underline-offset: 2px;
    color: rgba(255, 255, 255, 1);
}

.card_text {
    z-index: 2;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}

.lots_look-more-link {
    padding: 30px 40px;
    top: 30px;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-underline-offset: 4px;
}

.about {
    width: 1052px;
    margin-right: 24px;
    margin-left: 24px;
    margin-bottom: 143px;
    padding-top: 65px;
    display: grid;
    justify-items: center;
    grid-template-columns: 334px auto;
}

.about_column {
    max-width: 1052px;
    min-height: 595px;
}

.about_logo {
   width: 240px;
   min-height: 240px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   background-color: rgb(0, 0, 0);
}

.about_logo-image {
   width: 148px;
   min-height: 114px;
}

.title_about {
    max-width: 291px;
    margin-left: 25px;
    padding-top: 100px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 40px;
}

.about_text {
    min-width: 693px;
    margin-left: 25px;
    padding-top: 99px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2em;
}

.footer {
    padding: 1px 50px 82px 50px;
    display: grid;
    grid-template-columns: 239px 178px 240px;
    gap: 170px;
    text-underline-offset: 4px;
}

.footer_menu-list {
    margin-left: 4px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    list-style-type: none;
}

.footer_menu-link_active {
    text-decoration: none;
}

.footer_socials-list {
    margin-left: 4px;
    width: 240px;
    display: flex;
    gap: 48px;
    list-style-type: none;
}