.header {
    padding: 92px 0px 96px 0px;
    font-size: 18px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}

.header_menu {
    padding-right: 36px;
    display: flex;
    justify-content: flex-end;
    font-family: 'Raleway-Regular', sans-serif;
}

.header_menu-list {
    display: flex;
    gap: 35px;
    list-style: circle;
    text-underline-offset: 4px;
}

.header_menu-item_no-bullit {
    list-style: none;
}

.header_logo-image {
    padding-left: 2px;
    width: 148px;
    height: 105px;
    display: block;
    object-fit: contain;
}

.header_address {
    list-style-type: none;
}

.address {
    margin-left: 187px;
    max-width: 236px;
    font-family: 'Raleway-Regular', sans-serif;
    font-size: 18px;
    font-style: normal;
    text-underline-offset: 4.1px;
    line-height: 24px;
}

.cover {
    width: 1100px;
    padding: 165px 50px 50px 50px;
    min-height: 757px;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../images/0ebc4c3a92bfb672f477e421e7738fd6416ff19b.jpg);
    background-position: center;
}

.overlay {
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
}

.cover_title {
    z-index: 2;
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 0.3em;
    color: rgb(255, 255, 255);
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    margin-left: 30px;
    padding-top: 20px;
    text-align: center;
}

.aligned-text_right {
    padding-top: 20px;
    padding-left: 615px;
    text-align: right;
}

.description {
    height: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
}

.description_subline {
    z-index: 2;
    font-family: 'Raleway-Regular', sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    word-spacing: 19px;
}

button {
    padding: 11px 31px;
    height: 51px;
    z-index: 2;
    background: transparent;
    border-color: rgba(255, 255, 255, 1);
}

.bet-button {
    color: rgba(255, 255, 255, 1);
    font-family: 'Raleway-Medium', sans-serif;
    text-transform: uppercase;
    font-size: 22px;
}

.lots {
    width: 1052px;
    margin: 180px 24px 120px;
    height: 723px;
}

.lots_title {
    padding: 1px 40px 27px;
    font-family: 'Raleway-Bold', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
}

.lots_card-list {
    display: flex;
    gap: 25px;
    list-style-type: none;
}

.lots_card-list-item {
    width: 334px;
    min-height: 596px;
    position: relative;
}

.card {
    padding: 48px 40px;
    width: 100%;
    height: 596px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
    background-size: cover;
}

.lot_film {
    background-image: url(../images/card-lot-01.jpg);
}

.lot_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: 596px auto;
    background-repeat: no-repeat;
}

.lot_picture {
    background-image: url(../images/3543ee6f0852101f5ab31479457065d43c824f26.jpg);
}

.card_link {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.card_title {
    z-index: 2;
    font-family: 'Raleway-Bold', sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 1.2;
    text-underline-offset: 2px;
    color: rgba(255, 255, 255, 1);
}

.card_text {
    z-index: 2;
    font-family: 'Raleway-Regular', sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}

.lots_look-more-link {
    padding: 30px 40px 0px;
    top: 30px;
    position: relative;
    font-family: 'Raleway-Regular', sans-serif;
    font-size: 20px;
    text-underline-offset: 4px;
}

.about {
    width: 1052px;
    height: 595px;
    margin: 0px 24px 180px;
    padding: 35px 0px 0px 0px;
    display: grid;
    justify-items: center;
    grid-template-columns: 334px auto;
}

.about_logo {
   width: 240px;
   height: 240px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   background-color: rgb(0, 0, 0);
}

.about_logo-image {
   width: 148px;
   height: 114px;
}

.title_about {
    width: 291px;
    height: 47px;
    margin: 3px 0px 100px 13px;
    padding-top: 98px;
    font-family: 'Raleway-Bold', sans-serif;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 40px;
}

.about_text {
    width: 693px;
    height: 312px;
    padding: 48px 13px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-family: 'Raleway-Regular', sans-serif;
    font-size: 20px;
    line-height: 1.2em
}

.footer {
    padding: 1px 50px 82px 50px;
    display: grid;
    grid-template-columns: 239px 178px 240px;
    gap: 170px;
    text-underline-offset: 4px;
}

.footer_contacts {
    height: 98px;
    font-family: 'Raleway-Regular', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    list-style-type: none;
}

.footer_menu-list {
    margin-left: 4px;
    font-family: 'Raleway-Regular', sans-serif;
    font-size: 18px;
    text-align: center;
    list-style-type: none;
}

.footer_socials-list {
    margin-left: 4px;
    width: 240px;
    height: 48px;
    display: flex;
    gap: 48px;
    list-style-type: none;
}



